<a href="https://colab.research.google.com/github/spros1/HeartFailureAnalysis/blob/main/ExcerA_Heart_Failure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   Start the commands in order to load a file from Kaggle to Colab

---

In [1]:
pip install -q kaggle

In [ ]:
from google.colab import files
files.upload()

In [3]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle datasets download -d andrewmvd/heart-failure-clinical-data

heart-failure-clinical-data.zip: Skipping, found more recently modified local copy (use --force to force download)

In [7]:
ls

heart-failure-clinical-data.zip  kaggle.json  sample_data/

In [8]:
! unzip heart-failure-clinical-data.zip

Archive:  heart-failure-clinical-data.zip
  inflating: heart_failure_clinical_records_dataset.csv



2.   Check the data and import them to SqlDatabase

---

In [9]:
# Check dataset 
import pandas as pd
from google.colab import files
with open('heart_failure_clinical_records_dataset.csv', 'r') as data:
    df3 = pd.read_csv(data, encoding = ('ansi'))
    print (df3)

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

### Create an instance of Database and load to table the CSV

In [10]:
# create the SQLite Database
%pip install csv-to-sqlite

Collecting csv-to-sqlite
  Downloading csv_to_sqlite-2.1.1-py3-none-any.whl (12 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from csv-to-sqlite) (7.1.2)
Installing collected packages: csv-to-sqlite
Successfully installed csv-to-sqlite-2.1.1

In [11]:
# import to table 
!csv-to-sqlite -f heart_failure_clinical_records_dataset.csv -t full -o db.sqlite

Written 299 rows into 1 tables in 0.018 seconds

### Accessing Database - Copy data to dataframe

In [12]:
#Accessing the SQL Database
import sqlite3

In [13]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [14]:
conn = create_connection("db.sqlite")

In [15]:
import pandas as pd 

cur = conn.cursor()
cur.execute(f"SELECT * FROM heart_failure_clinical_records_dataset " )
df = pd.DataFrame(cur.fetchall(), columns= [ 'Age', 'Anaemia', 'Creatinine_Phosphokinase', 'Diabetes', 'Ejection_Fraction', 'High_Blood_Pressure', 'Platelets', 'Serum_creatinine', 'Serum_Sodium', 'Sex', 'Smoking', 'Time', 'Death_Event'] )

print(df)

      Age  Anaemia  Creatinine_Phosphokinase  ...  Smoking  Time  Death_Event
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

We now have the data base in SQLite, and the dataframe df ready to use in python

### Start Data Analysis

In [16]:
df.head()

    Age  Anaemia  Creatinine_Phosphokinase  ...  Smoking  Time  Death_Event
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       299 non-null    float64
 1   Anaemia                   299 non-null    int64
 2   Creatinine_Phosphokinase  299 non-null    int64
 3   Diabetes                  299 non-null    int64
 4   Ejection_Fraction         299 non-null    int64
 5   High_Blood_Pressure       299 non-null    int64
 6   Platelets                 299 non-null    float64
 7   Serum_creatinine          299 non-null    float64
 8   Serum_Sodium              299 non-null    int64
 9   Sex                       299 non-null    int64
 10  Smoking                   299 non-null    int64
 11  Time                      299 non-null    int64
 12  Death_Event               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [18]:
# search for missing values -- no missing values
df.isnull().sum()

Age                         0
Anaemia                     0
Creatinine_Phosphokinase    0
Diabetes                    0
Ejection_Fraction           0
High_Blood_Pressure         0
Platelets                   0
Serum_creatinine            0
Serum_Sodium                0
Sex                         0
Smoking                     0
Time                        0
Death_Event                 0
dtype: int64

In [19]:
# search for missing values -- no missing values
df.mean()

Age                             60.833893
Anaemia                          0.431438
Creatinine_Phosphokinase       581.839465
Diabetes                         0.418060
Ejection_Fraction               38.083612
High_Blood_Pressure              0.351171
Platelets                   263358.029264
Serum_creatinine                 1.393880
Serum_Sodium                   136.625418
Sex                              0.648829
Smoking                          0.321070
Time                           130.260870
Death_Event                      0.321070
dtype: float64

In [20]:
# check values of age, age 60.667 ? 
df.sort_values(by='Age')

      Age  Anaemia  Creatinine_Phosphokinase  ...  Smoking  Time  Death_Event
269  40.0        0                       582  ...        0   244            0
232  40.0        1                       129  ...        0   209            0
180  40.0        0                       478  ...        0   148            0
242  40.0        0                        90  ...        1   212            0
248  40.0        0                       624  ...        1   214            0
..    ...      ...                       ...  ...      ...   ...          ...
36   90.0        1                        60  ...        0    30            1
5    90.0        1                        47  ...        1     8            1
30   94.0        0                       582  ...        0    27            1
55   95.0        1                       371  ...        0    50            1
26   95.0        1                       112  ...        0    24            1

[299 rows x 13 columns]

In [21]:
# ckeck statistics
df.describe().transpose()

                          count           mean  ...       75%       max
Age                       299.0      60.833893  ...      70.0      95.0
Anaemia                   299.0       0.431438  ...       1.0       1.0
Creatinine_Phosphokinase  299.0     581.839465  ...     582.0    7861.0
Diabetes                  299.0       0.418060  ...       1.0       1.0
Ejection_Fraction         299.0      38.083612  ...      45.0      80.0
High_Blood_Pressure       299.0       0.351171  ...       1.0       1.0
Platelets                 299.0  263358.029264  ...  303500.0  850000.0
Serum_creatinine          299.0       1.393880  ...       1.4       9.4
Serum_Sodium              299.0     136.625418  ...     140.0     148.0
Sex                       299.0       0.648829  ...       1.0       1.0
Smoking                   299.0       0.321070  ...       1.0       1.0
Time                      299.0     130.260870  ...     203.0     285.0
Death_Event               299.0       0.321070  ...       1.0       1.0

[13 rows x 8 columns]